<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coolcollege.intelligent.dao.supervision.SupervisionTaskMapper">
  <resultMap id="BaseResultMap" type="com.coolcollege.intelligent.model.supervision.SupervisionTaskDO">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="task_parent_id" jdbcType="BIGINT" property="taskParentId" />
    <result column="task_name" jdbcType="VARCHAR" property="taskName" />
    <result column="task_start_time" jdbcType="TIMESTAMP" property="taskStartTime" />
    <result column="task_end_time" jdbcType="TIMESTAMP" property="taskEndTime" />
    <result column="supervision_user_id" jdbcType="VARCHAR" property="supervisionUserId" />
    <result column="check_object_ids" jdbcType="VARCHAR" property="checkObjectIds" />
    <result column="business_type" jdbcType="VARCHAR" property="businessType" />
    <result column="complete_time" jdbcType="TIMESTAMP" property="completeTime" />
    <result column="complete_percent" jdbcType="DECIMAL" property="completePercent" />
    <result column="task_state" jdbcType="INTEGER" property="taskState" />
    <result column="manual_text" jdbcType="VARCHAR" property="manualText" />
    <result column="manual_pics" jdbcType="VARCHAR" property="manualPics" />
    <result column="manual_attach" jdbcType="VARCHAR" property="manualAttach" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="deleted" jdbcType="BIT" property="deleted" />
    <result column="cancel_status" jdbcType="BIT" property="cancelStatus" />
    <result column="form_id" jdbcType="VARCHAR" property="formId" />
    <result column="sop_ids" jdbcType="VARCHAR" property="sopIds" />
    <result column="priority" jdbcType="VARCHAR" property="priority" />

    <result column="task_grouping" jdbcType="VARCHAR" property="taskGrouping" />
    <result column="first_approve" jdbcType="VARCHAR" property="firstApprove" />
    <result column="secondary_approve" jdbcType="VARCHAR" property="secondaryApprove" />
    <result column="third_approve" jdbcType="VARCHAR" property="thirdApprove" />
    <result column="current_node" jdbcType="TINYINT" property="currentNode" />
    <result column="reminder_time_before_starting" jdbcType="TIMESTAMP" property="reminderTimeBeforeStarting" />
    <result column="reminder_time_before_end" jdbcType="TIMESTAMP" property="reminderTimeBeforeEnd"/>
    <result column="transfer_reassign_flag" jdbcType="TINYINT" property="transferReassignFlag" />
    <result column="handle_over_time_status" jdbcType="VARCHAR" property="handleOverTimeStatus" />
    <result column="submit_time" jdbcType="TIMESTAMP" property="submitTime"/>
    <result column="supervision_handle_user_id" jdbcType="VARCHAR" property="supervisionHandleUserId" />
    <result column="supervision_handle_user_name" jdbcType="VARCHAR" property="supervisionHandleUserName" />
    <result column="approve_status" jdbcType="TINYINT" property="approveStatus" />
  </resultMap>
  <sql id="Base_Column_List">
    id, task_parent_id, task_name, task_start_time, task_end_time, supervision_user_id, 
    check_object_ids, business_type, complete_time, complete_percent, task_state, manual_text, 
    manual_pics, manual_attach, create_time, update_time, deleted,cancel_status,form_id,sop_ids,priority,
    task_grouping,first_approve,secondary_approve,third_approve,current_node,reminder_time_before_starting,
    reminder_time_before_end,transfer_reassign_flag,handle_over_time_status,submit_time,supervision_handle_user_id,
    supervision_handle_user_name,approve_status
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from supervision_task_${enterpriseId}
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from supervision_task_${enterpriseId}
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insertSelective" keyColumn="id" keyProperty="record.id" useGeneratedKeys="true">
    insert into supervision_task_${enterpriseId}
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="record.taskParentId != null">
        task_parent_id,
      </if>
      <if test="record.taskName != null">
        task_name,
      </if>
      <if test="record.taskStartTime != null">
        task_start_time,
      </if>
      <if test="record.taskEndTime != null">
        task_end_time,
      </if>
      <if test="record.supervisionUserId != null">
        supervision_user_id,
      </if>
      <if test="record.checkObjectIds != null">
        check_object_ids,
      </if>
      <if test="record.businessType != null">
        business_type,
      </if>
      <if test="record.completeTime != null">
        complete_time,
      </if>
      <if test="record.completePercent != null">
        complete_percent,
      </if>
      <if test="record.taskState != null">
        task_state,
      </if>
      <if test="record.manualText != null">
        manual_text,
      </if>
      <if test="record.manualPics != null">
        manual_pics,
      </if>
      <if test="record.manualAttach != null">
        manual_attach,
      </if>
      <if test="record.createTime != null">
        create_time,
      </if>
      <if test="record.updateTime != null">
        update_time,
      </if>
      <if test="record.deleted != null">
        deleted,
      </if>
      <if test="record.cancelStatus != null">
        cancel_status,
      </if>
      <if test="record.sopIds != null">
        sop_ids,
      </if>
      <if test="record.formId != null">
        form_id,
      </if>
      <if test="record.priority != null">
        priority,
      </if>

      <if test="record.taskGrouping != null">
        task_grouping,
      </if>
      <if test="record.firstApprove != null">
        first_approve,
      </if>
      <if test="record.secondaryApprove != null">
        secondary_approve,
      </if>
      <if test="record.thirdApprove != null">
        third_approve,
      </if>
      <if test="record.reminderTimeBeforeStarting != null">
        reminder_time_before_starting,
      </if>
      <if test="record.reminderTimeBeforeEnd != null">
        reminder_time_before_end,
      </if>
      <if test="record.supervisionHandleUserId != null">
        supervision_handle_user_id,
      </if>
      <if test="record.supervisionHandleUserName != null">
        supervision_handle_user_name,
      </if>
      <if test="record.approveStatus != null">
        approve_status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="record.taskParentId != null">
        #{record.taskParentId,jdbcType=BIGINT},
      </if>
      <if test="record.taskName != null">
        #{record.taskName,jdbcType=VARCHAR},
      </if>
      <if test="record.taskStartTime != null">
        #{record.taskStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.taskEndTime != null">
        #{record.taskEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.supervisionUserId != null">
        #{record.supervisionUserId,jdbcType=VARCHAR},
      </if>
      <if test="record.checkObjectIds != null">
        #{record.checkObjectIds,jdbcType=VARCHAR},
      </if>
      <if test="record.businessType != null">
        #{record.businessType,jdbcType=VARCHAR},
      </if>
      <if test="record.completeTime != null">
        #{record.completeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.completePercent != null">
        #{record.completePercent,jdbcType=DECIMAL},
      </if>
      <if test="record.taskState != null">
        #{record.taskState,jdbcType=INTEGER},
      </if>
      <if test="record.manualText != null">
        #{record.manualText,jdbcType=VARCHAR},
      </if>
      <if test="record.manualPics != null">
        #{record.manualPics,jdbcType=VARCHAR},
      </if>
      <if test="record.manualAttach != null">
        #{record.manualAttach,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.deleted != null">
        #{record.deleted,jdbcType=BIT},
      </if>
      <if test="record.cancelStatus != null">
        #{record.cancelStatus},
      </if>
      <if test="record.sopIds != null">
        #{record.sopIds},
      </if>
      <if test="record.formId != null">
        #{record.formId},
      </if>
      <if test="record.priority != null">
        #{record.priority},
      </if>
      <if test="record.taskGrouping != null">
        #{record.taskGrouping},
      </if>
      <if test="record.firstApprove != null">
        #{record.firstApprove},
      </if>
      <if test="record.secondaryApprove != null">
        #{record.secondaryApprove},
      </if>
      <if test="record.thirdApprove != null">
        #{record.thirdApprove},
      </if>
      <if test="record.reminderTimeBeforeStarting != null">
        #{record.reminderTimeBeforeStarting},
      </if>
      <if test="record.reminderTimeBeforeEnd != null">
        #{record.reminderTimeBeforeEnd},
      </if>
      <if test="record.supervisionHandleUserId != null">
        #{record.supervisionHandleUserId},
      </if>
      <if test="record.supervisionHandleUserName != null">
        #{record.supervisionHandleUserName},
      </if>
      <if test="record.approveStatus != null">
        #{record.approveStatus},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.coolcollege.intelligent.model.supervision.SupervisionTaskDO">
    update supervision_task_${enterpriseId}
    <set>
      <if test="record.taskParentId != null">
        task_parent_id = #{record.taskParentId,jdbcType=BIGINT},
      </if>
      <if test="record.taskName != null">
        task_name = #{record.taskName,jdbcType=VARCHAR},
      </if>
      <if test="record.taskStartTime != null">
        task_start_time = #{record.taskStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.taskEndTime != null">
        task_end_time = #{record.taskEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.supervisionUserId != null">
        supervision_user_id = #{record.supervisionUserId,jdbcType=VARCHAR},
      </if>
      <if test="record.checkObjectIds != null">
        check_object_ids = #{record.checkObjectIds,jdbcType=VARCHAR},
      </if>
      <if test="record.businessType != null">
        business_type = #{record.businessType,jdbcType=VARCHAR},
      </if>
      <if test="record.completeTime != null">
        complete_time = #{record.completeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.completePercent != null">
        complete_percent = #{record.completePercent,jdbcType=DECIMAL},
      </if>
      <if test="record.taskState != null">
        task_state = #{record.taskState,jdbcType=INTEGER},
      </if>
      <if test="record.manualText != null">
        manual_text = #{record.manualText,jdbcType=VARCHAR},
      </if>
      <if test="record.manualPics != null">
        manual_pics = #{record.manualPics,jdbcType=VARCHAR},
      </if>
      <if test="record.manualAttach != null">
        manual_attach = #{record.manualAttach,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.deleted != null">
        deleted = #{record.deleted,jdbcType=BIT},
      </if>

      <if test="record.taskGrouping != null">
        task_grouping = #{record.taskGrouping,jdbcType=BIT},
      </if>
      <if test="record.firstApprove != null">
        first_approve = #{record.firstApprove,jdbcType=BIT},
      </if>
      <if test="record.secondaryApprove != null">
        secondary_approve = #{record.secondaryApprove,jdbcType=BIT},
      </if>
      <if test="record.thirdApprove != null">
        third_approve = #{record.thirdApprove,jdbcType=BIT},
      </if>
      <if test="record.currentNode != null">
        current_node = #{record.currentNode,jdbcType=BIT},
      </if>
      <if test="record.reminderTimeBeforeStarting != null">
        reminder_time_before_starting = #{record.reminderTimeBeforeStarting,jdbcType=BIT},
      </if>
      <if test="record.reminderTimeBeforeEnd != null">
        reminder_time_before_end = #{record.reminderTimeBeforeEnd,jdbcType=BIT},
      </if>
      <if test="record.transferReassignFlag != null">
        transfer_reassign_flag = #{record.transferReassignFlag,jdbcType=BIT},
      </if>
      <if test="record.handleOverTimeStatus != null">
        handle_over_time_status = #{record.handleOverTimeStatus,jdbcType=BIT},
      </if>
      <if test="record.submitTime != null">
        submit_time = #{record.submitTime,jdbcType=BIT},
      </if>
      <if test="record.supervisionHandleUserId != null">
        supervision_handle_user_id = #{record.supervisionHandleUserId,jdbcType=BIT},
      </if>
      <if test="record.supervisionHandleUserName != null">
        supervision_handle_user_name = #{record.supervisionHandleUserName,jdbcType=BIT},
      </if>
      <if test="record.approveStatus != null">
        approve_status = #{record.approveStatus,jdbcType=BIT},
      </if>
    </set>
    where id = #{record.id,jdbcType=BIGINT}
  </update>
  <sql id="dynamicQuery">
    <trim prefix="WHERE" prefixOverrides="AND | OR">
      <if test="null != id">
         and t.id = #{id,jdbcType=BIGINT}
      </if>
      <if test="null != taskParentId">
         and t.task_parent_id = #{taskParentId,jdbcType=BIGINT}
      </if>
      <if test="null != taskName">
         and t.task_name = #{taskName,jdbcType=VARCHAR}
      </if>
      <if test="null != taskStartTime">
         and t.task_start_time = #{taskStartTime,jdbcType=TIMESTAMP}
      </if>
      <if test="null != taskEndTime">
         and t.task_end_time = #{taskEndTime,jdbcType=TIMESTAMP}
      </if>
      <if test="null != supervisionUserId">
         and t.supervision_user_id = #{supervisionUserId,jdbcType=VARCHAR}
      </if>
      <if test="null != checkObjectIds">
         and t.check_object_ids = #{checkObjectIds,jdbcType=VARCHAR}
      </if>
      <if test="null != businessType">
         and t.business_type = #{businessType,jdbcType=VARCHAR}
      </if>
      <if test="null != completeTime">
         and t.complete_time = #{completeTime,jdbcType=TIMESTAMP}
      </if>
      <if test="null != completePercent">
         and t.complete_percent = #{completePercent,jdbcType=DECIMAL}
      </if>
      <if test="null != taskState">
         and t.task_state = #{taskState,jdbcType=INTEGER}
      </if>
      <if test="null != manualText">
         and t.manual_text = #{manualText,jdbcType=VARCHAR}
      </if>
      <if test="null != manualPics">
         and t.manual_pics = #{manualPics,jdbcType=VARCHAR}
      </if>
      <if test="null != manualAttach">
         and t.manual_attach = #{manualAttach,jdbcType=VARCHAR}
      </if>
      <if test="null != createTime">
         and t.create_time = #{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="null != updateTime">
         and t.update_time = #{updateTime,jdbcType=TIMESTAMP}
      </if>
      <if test="null != deleted">
         and t.deleted = #{deleted,jdbcType=BIT}
      </if>
    </trim>
  </sql>

  <insert id="batchInsert" keyProperty="records.id" useGeneratedKeys="true">
  insert into supervision_task_${enterpriseId}
  (
  `task_parent_id`,
  `task_name`,
  `task_start_time`,
  `task_end_time`,
  `supervision_user_id`,
  `check_object_ids`,
  `create_time`,
  `task_state`,
  `business_type`,
   `sop_ids`,
   `priority`,
    task_grouping,
    first_approve,
    secondary_approve,
    third_approve,
    reminder_time_before_starting,
    reminder_time_before_end,
    supervision_handle_user_id,
    supervision_handle_user_name,
    approve_status
  )
  values
  <foreach collection="records" item="record" separator=",">
    (
    #{record.taskParentId},
    #{record.taskName},
    #{record.taskStartTime},
    #{record.taskEndTime},
    #{record.supervisionUserId},
    #{record.checkObjectIds},
    #{record.createTime},
    #{record.taskState},
    #{record.businessType},
    #{record.sopIds},
    #{record.priority},
    #{record.taskGrouping},
    #{record.firstApprove},
    #{record.secondaryApprove},
    #{record.thirdApprove},
    #{record.reminderTimeBeforeStarting},
    #{record.reminderTimeBeforeEnd},
    #{record.supervisionHandleUserId},
    #{record.supervisionHandleUserName},
    #{record.approveStatus}
    )
  </foreach>
  </insert>

  <update id="updateByParentId">
    update supervision_task_${enterpriseId}
    <set>
      <if test="taskName != null">
        task_name = #{taskName,jdbcType=VARCHAR},
      </if>
      <if test="taskGrouping != null and taskGrouping!=''">
        task_grouping = #{taskGrouping,jdbcType=VARCHAR},
      </if>
      <if test="taskEndTime != null">
        task_end_time = #{taskEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="reminderTimeBeforeEnd != null">
        reminder_time_before_end = #{reminderTimeBeforeEnd},
      </if>
    </set>
    where task_parent_id = #{parentId,jdbcType=BIGINT}
  </update>


  <update id="updateStatus">
    update supervision_task_${enterpriseId}
    <set>
      <if test="taskState != null">
        task_state = #{taskState},
      </if>
      <if test="completeTime != null">
        complete_time = #{completeTime},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>



  <select id="listMySupervisionTask" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"/>,
    TIMESTAMPDIFF(second,now(),task_end_time) AS cnt ,
    TIMESTAMPDIFF(second,now(),task_start_time) AS tst
    from supervision_task_${enterpriseId}
    where supervision_handle_user_id = #{query.supervisionUserId}
    and deleted = 0 and cancel_status = 0
    <if test="taskStatusEnumList!=null and taskStatusEnumList.size()>0">
      <foreach collection="taskStatusEnumList" item="taskStatus" open="and (" separator="or" close=")">
        <if test="taskStatus != null and taskStatus.status == 0">
          (task_state = 0)
        </if>
        <if test="taskStatus != null and taskStatus.status == 1">
          ( task_state = 1)
        </if>
        <if test="taskStatus != null and taskStatus.status== 4">
          ( task_state = 4)
        </if>
        <if test="taskStatus != null and taskStatus.status== 5">
          ( cancel_status = 1)
        </if>
      </foreach>
    </if>
    <if test="startTime!=null and endTime!=null and startTime!='' and endTime!=''">
     and task_end_time BETWEEN  #{startTime} and #{endTime}
    </if>
    <if test="priorityList!=null and priorityList.size()>0">
      <foreach collection="priorityList" item="priority" separator="," open="and priority in (" close=")">
        #{priority}
      </foreach>
    </if>
    <if test="taskGroupingList!=null and taskGroupingList.size()>0">
      <foreach collection="taskGroupingList" item="taskGrouping" separator="," open="and task_grouping in (" close=")">
        #{taskGrouping}
      </foreach>
    </if>
    <if test="handleOverTimeStatus!=null and handleOverTimeStatus==1">
      and (handle_over_time_status = #{handleOverTimeStatus} or (task_state = 0 and handle_over_time_status = 0 and task_end_time <![CDATA[ < ]]> now()))
    </if>
    <if test="handleOverTimeStatus!=null and handleOverTimeStatus==0">
      and ((handle_over_time_status = 0 AND task_state != 0) or (task_state=0 and  task_end_time > now()) )
    </if>
    <if test="query.endTimeAscFlag!=null and query.endTimeAscFlag==true">
      ORDER BY
      if(cnt >= 0, 0, 1),
      if(cnt <![CDATA[ < ]]> 0, abs(cnt), cnt )
    </if>
    <if test="query.endTimeAscFlag!=null and query.endTimeAscFlag==false">
      ORDER BY
      if(cnt >= 0, 1,0) desc,
      if(cnt <![CDATA[ < ]]> 0,abs(cnt), cnt ) desc
    </if>
    <if test="query.startTimeAscFlag!=null and query.startTimeAscFlag==true">
      ORDER BY
      if(tst >= 0, 0, 1),
      if(tst <![CDATA[ < ]]> 0, abs(tst), tst )
    </if>
    <if test="query.startTimeAscFlag!=null and query.startTimeAscFlag==false">
      ORDER BY
      if(tst >= 0, 1,0) desc,
      if(tst <![CDATA[ < ]]> 0,abs(tst), tst ) desc
    </if>

  </select>

  <update id="updateTaskCompleteInfo">
    update supervision_task_${enterpriseId}
    <set>
      complete_time = now() ,
      submit_time = now(),
      <if test="request.taskState != null">
        task_state = #{request.taskState},
      </if>
      <if test="handleOverTimeStatus != null">
        handle_over_time_status = #{handleOverTimeStatus},
      </if>
      <if test="currentNode != null">
        current_node = #{currentNode},
      </if>
    </set>
    where id = #{request.supervisionTaskId}
  </update>

  <update id="batchUpdateTaskStatus">
    update supervision_task_${enterpriseId}
    set
    task_state = CASE id
    <foreach collection="records" item="record">
      WHEN #{record.id} THEN ifnull(#{record.taskState},task_state)
    </foreach>
    END,
    complete_time = CASE id
    <foreach collection="records" item="record">
      WHEN #{record.id} THEN  ifnull(#{record.completeTime},complete_time)
    </foreach>
    END,
    submit_time = CASE id
    <foreach collection="records" item="record">
      WHEN #{record.id} THEN  ifnull(#{record.submitTime},submit_time)
    </foreach>
    END,
    handle_over_time_status = CASE id
    <foreach collection="records" item="record">
      WHEN #{record.id} THEN ifnull(#{record.handleOverTimeStatus},handle_over_time_status)
    </foreach>
    END,
    current_node = CASE id
    <foreach collection="records" item="record">
      WHEN #{record.id} THEN ifnull(#{record.currentNode},current_node)
    </foreach>
    END,
    approve_status = CASE id
    <foreach collection="records" item="record">
      WHEN #{record.id} THEN ifnull(#{record.approveStatus},approve_status)
    </foreach>
    END
    where id in
    <foreach collection="records" item="record" open="(" separator="," close=")">
      #{record.id}
    </foreach>
  </update>


  <update id="batchUpdateTaskStatusAndCancelStatus">
    update supervision_task_${enterpriseId}
    set
    task_state = CASE id
    <foreach collection="records" item="record">
      WHEN #{record.id} THEN #{record.taskState}
    </foreach>
    END,
    cancel_status = CASE id
    <foreach collection="records" item="record">
      WHEN #{record.id} THEN #{record.cancelStatus}
    </foreach>
    END,
    submit_time = CASE id
    <foreach collection="records" item="record">
      WHEN #{record.id} THEN IFNULL(#{record.submitTime},submit_time)
    </foreach>
    END,
    complete_time = CASE id
    <foreach collection="records" item="record">
      WHEN #{record.id} THEN IFNULL(#{record.completeTime},complete_time)
    </foreach>
    END,
    handle_over_time_status = CASE id
    <foreach collection="records" item="record">
      WHEN #{record.id} THEN IFNULL(#{record.handleOverTimeStatus},handle_over_time_status)
    </foreach>
    END
    where id in
    <foreach collection="records" item="record" open="(" separator="," close=")">
      #{record.id}
    </foreach>
  </update>


  <update id="batchUpdateTask">
    update supervision_task_${enterpriseId}
    set
    supervision_handle_user_id = CASE id
    <foreach collection="records" item="record">
      WHEN #{record.id} THEN IFNULL(#{record.supervisionHandleUserId},supervision_handle_user_id)
    </foreach>
    END,
    supervision_handle_user_name = CASE id
    <foreach collection="records" item="record">
      WHEN #{record.id} THEN IFNULL(#{record.supervisionHandleUserName},supervision_handle_user_name)
    </foreach>
    END,
    first_approve = CASE id
    <foreach collection="records" item="record">
      WHEN #{record.id} THEN IFNULL(#{record.firstApprove},first_approve)
    </foreach>
    END,
    transfer_reassign_flag = CASE id
    <foreach collection="records" item="record">
      WHEN #{record.id} THEN IFNULL(#{record.transferReassignFlag},transfer_reassign_flag)
    </foreach>
    END,
    secondary_approve = CASE id
    <foreach collection="records" item="record">
      WHEN #{record.id} THEN IFNULL(#{record.secondaryApprove},secondary_approve)
    </foreach>
    END,
    third_approve = CASE id
    <foreach collection="records" item="record">
      WHEN #{record.id} THEN IFNULL(#{record.thirdApprove},third_approve)
    </foreach>
    END
    where id in
    <foreach collection="records" item="record" open="(" separator="," close=")">
      #{record.id}
    </foreach>
  </update>


  <select id="listByParentId" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"/>
    from supervision_task_${enterpriseId}
    where  task_parent_id = #{parentId}
    <if test="userName!=null and userName!=''">
      and supervision_handle_user_name like concat('%',#{userName},'%')
    </if>
    <if test="handleOverTimeStatus!=null and handleOverTimeStatus==1">
      and (handle_over_time_status = #{handleOverTimeStatus} or (task_state = 0 and handle_over_time_status = 0 and task_end_time <![CDATA[ < ]]> now()))
    </if>
    <if test="handleOverTimeStatus!=null and handleOverTimeStatus==0">
      and ((handle_over_time_status = 0 AND task_state != 0) or (task_state=0 and  task_end_time > now()) )
    </if>
    <if test="completeStatusList!=null and completeStatusList.size()>0">
      <foreach collection="completeStatusList" item="completeStatus" open="and (" separator="or" close=")">
        <if test="completeStatus != null and completeStatus.status == 0">
          (task_state = 0  and  cancel_status = 0)
        </if>
        <if test="completeStatus != null and completeStatus.status == 1">
          ( task_state = 1 and  cancel_status = 0)
        </if>
        <if test="completeStatus != null and completeStatus.status== 4">
          ( task_state = 4 and  cancel_status = 0)
        </if>
        <if test="completeStatus != null and completeStatus.status== 5">
          ( cancel_status = 1)
        </if>
      </foreach>
    </if>
    order by id desc
  </select>


  <select id="countByParentId" resultType="java.lang.Long" >
    select count(1)
    from supervision_task_${enterpriseId}
    where  task_parent_id = #{parentId}
    <if test="userName!=null and userName!=''">
      and supervision_handle_user_name = #{userName}
    </if>
    <if test="handleOverTimeStatus!=null and handleOverTimeStatus==1">
      and (handle_over_time_status = #{handleOverTimeStatus} or (task_state = 0 and handle_over_time_status = 0 and task_end_time <![CDATA[ < ]]> now()))
    </if>
    <if test="handleOverTimeStatus!=null and handleOverTimeStatus==0">
      and ((handle_over_time_status = 0 AND task_state != 0) or (task_state=0 and  task_end_time > now()) )
    </if>
    <if test="completeStatusList!=null and completeStatusList.size()>0">
    <foreach collection="completeStatusList" item="completeStatus" open="and (" separator="or" close=")">
      <if test="completeStatus != null and completeStatus.status == 0">
        (task_state = 0 and  cancel_status = 0)
      </if>
      <if test="completeStatus != null and completeStatus.status == 1">
        ( task_state = 1 and  cancel_status = 0)
      </if>
      <if test="completeStatus != null and completeStatus.status== 4">
        ( task_state = 4 and  cancel_status = 0)
      </if>
      <if test="completeStatus != null and completeStatus.status== 5">
        ( cancel_status = 1)
      </if>
    </foreach>
    </if>
  </select>

  <update id="taskCancel">
    update supervision_task_${enterpriseId}
    set cancel_status = 1
    <where>
      <if test="taskId!=null">
        and task_parent_id = #{taskId,jdbcType=BIGINT}
      </if>
      <if test="id!=null">
        and id = #{id,jdbcType=BIGINT}
      </if>
    </where>
  </update>

  <update id="taskDel">
    update supervision_task_${enterpriseId}
    set deleted = 1
    where task_parent_id = #{taskId,jdbcType=BIGINT}
  </update>

  <select id="noCompleteListByParentId" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"/>
    from supervision_task_${enterpriseId}
    where  task_parent_id = #{parentId}
    and task_state = 0
  </select>


  <select id="notCancelCountByParentId" resultType="java.lang.Integer">
    select count(1)
    from supervision_task_${enterpriseId}
    where  task_parent_id = #{parentId}
    and cancel_status = 0
  </select>


  <select id="listSupervisionTaskByFormId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from supervision_task_${enterpriseId}
    where  task_state = 1
    and form_id = #{formId}
    and check_object_ids is null
    <if test="startTime!=null and endTime!=null">
      and complete_time BETWEEN  #{startTime} and #{endTime}
    </if>
    <if test="taskParentIds!=null and taskParentIds.size()>0">
      <foreach collection="taskParentIds" item="taskParentId" separator="," open="and task_parent_id in (" close=")">
        #{taskParentId}
      </foreach>
    </if>
  </select>

  <select id="countSupervisionTaskByFormId" resultType="java.lang.Long">
    select
    count(1)
    from supervision_task_${enterpriseId}
    where  task_state = 1
    and form_id = #{formId}
    and check_object_ids is null
    <if test="startTime!=null and endTime!=null and startTime!='' and endTime!=''">
      and complete_time BETWEEN  #{startTime} and #{endTime}
    </if>
    <if test="taskParentIds!=null and taskParentIds.size()>0">
      <foreach collection="taskParentIds" item="taskParentId" separator="," open="and task_parent_id in (" close=")">
        #{taskParentId}
      </foreach>
    </if>
  </select>

  <select id="listByIds"  resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from supervision_task_${enterpriseId}
    where id in
    <foreach collection="ids" item="id" open="(" separator="," close=")">
      #{id}
    </foreach>
  </select>

  <select id="listReminderBeforeSupervisionTask" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from supervision_task_${enterpriseId}
    where task_state = 0 and cancel_status = 0
    and reminder_time_before_starting = #{reminderTimeBeforeStarting} and task_start_time <![CDATA[ <= ]]> now() and task_end_time >= now()
  </select>
  <select id="listReminderAfterSupervisionTask" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from supervision_task_${enterpriseId}
    where task_state = 0 and cancel_status = 0
    and reminder_time_before_end = #{reminderTimeAfterEnd} and task_start_time <![CDATA[ <= ]]> now() and task_end_time >= now()
  </select>


  <select id="selectSupervisionTask" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"/>
    from supervision_task_${enterpriseId}
    where  task_parent_id = #{parentId}
    and supervision_handle_user_id = #{userId}
  </select>


  <update id="updateHandleOverTimeData">
    update supervision_task_${enterpriseId}
    set handle_over_time_status = 1
    where task_state = 0 and task_end_time <![CDATA[ <= ]]> now() and handle_over_time_status = 0
  </update>

  <select id="correctData" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from supervision_task_${enterpriseId}
    where task_state = 1
    and check_object_ids is null
  </select>
</mapper>