<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coolcollege.intelligent.dao.fsGroup.FsGroupCardMsgHistoryMapper">
    <resultMap type="com.coolcollege.intelligent.model.fsGroup.FsGroupCardMsgHistoryDO" id="FsGroupCardMsgHistoryMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="messageId" column="message_id" jdbcType="VARCHAR"/>
        <result property="userId" column="user_id" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="chatId" column="chat_id" jdbcType="VARCHAR"/>
    </resultMap>
    
    <sql id="baseSql">
        id as id,message_id as messageId,user_id as userId,create_time as createTime,chat_id as chatId    </sql>

    <!--查询单个-->
    <select id="queryById" resultType="com.coolcollege.intelligent.model.fsGroup.FsGroupCardMsgHistoryDO">
        select
          <include refid="baseSql"></include>
        from fs_group_card_msg_history_${eid}
        where id = #{id}
    </select>

    <!--统计总行数-->
    <select id="count" resultType="java.lang.Long">
        select count(1)
        from fs_group_card_msg_history_${eid}
        <where>
            <if test="fsGroupCardMsgHistoryDO.id != null">
                and id = #{fsGroupCardMsgHistoryDO.id}
            </if>
            <if test="fsGroupCardMsgHistoryDO.messageId != null and fsGroupCardMsgHistoryDO.messageId != ''">
                and message_id = #{fsGroupCardMsgHistoryDO.messageId}
            </if>
            <if test="fsGroupCardMsgHistoryDO.userId != null and fsGroupCardMsgHistoryDO.userId != ''">
                and user_id = #{fsGroupCardMsgHistoryDO.userId}
            </if>
            <if test="fsGroupCardMsgHistoryDO.createTime != null">
                and create_time = #{fsGroupCardMsgHistoryDO.createTime}
            </if>
            <if test="fsGroupCardMsgHistoryDO.chatId != null and fsGroupCardMsgHistoryDO.chatId != ''">
                and chat_id = #{fsGroupCardMsgHistoryDO.chatId}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="fsGroupCardMsgHistoryDO.id" useGeneratedKeys="true">
        insert into fs_group_card_msg_history_${eid}
    <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="fsGroupCardMsgHistoryDO.messageId != null and fsGroupCardMsgHistoryDO.messageId != ''">
                message_id,
            </if>
            <if test="fsGroupCardMsgHistoryDO.userId != null and fsGroupCardMsgHistoryDO.userId != ''">
                user_id,
            </if>
            <if test="fsGroupCardMsgHistoryDO.createTime != null">
                create_time,
            </if>
            <if test="fsGroupCardMsgHistoryDO.chatId != null and fsGroupCardMsgHistoryDO.chatId != ''">
                chat_id,
            </if>
     </trim>
        values 
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="fsGroupCardMsgHistoryDO.messageId != null and fsGroupCardMsgHistoryDO.messageId != ''">
                #{fsGroupCardMsgHistoryDO.messageId},
            </if>
            <if test="fsGroupCardMsgHistoryDO.userId != null and fsGroupCardMsgHistoryDO.userId != ''">
                #{fsGroupCardMsgHistoryDO.userId},
            </if>
            <if test="fsGroupCardMsgHistoryDO.createTime != null">
                #{fsGroupCardMsgHistoryDO.createTime},
            </if>
            <if test="fsGroupCardMsgHistoryDO.chatId != null and fsGroupCardMsgHistoryDO.chatId != ''">
                #{fsGroupCardMsgHistoryDO.chatId},
            </if>
        </trim>
    </insert>

    <insert id="insertBatch" keyProperty="dos.id" useGeneratedKeys="true">
        insert into fs_group_card_msg_history_${eid}(message_id, user_id, create_time, chat_id)
        values
        <foreach collection="dos" item="do" separator=",">
        (#{do.messageId}, #{do.userId}, #{do.createTime}, #{do.chatId})
        </foreach>
    </insert>

    <insert id="insertOrUpdateBatch" keyProperty="dos.id" useGeneratedKeys="true">
        insert into fs_group_card_msg_history_${eid}(message_id, user_id, create_time, chat_id)
        values
        <foreach collection="dos" item="do" separator=",">
            (#{do.messageId}, #{do.userId}, #{do.createTime}, #{do.chatId})
        </foreach>
        on duplicate key update
        message_id = values(message_id),
        user_id = values(user_id),
        create_time = values(create_time),
        chat_id = values(chat_id)
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update fs_group_card_msg_history_${eid}
        <set>
            <if test="fsGroupCardMsgHistoryDO.messageId != null and fsGroupCardMsgHistoryDO.messageId != ''">
                message_id = #{fsGroupCardMsgHistoryDO.messageId},
            </if>
            <if test="fsGroupCardMsgHistoryDO.userId != null and fsGroupCardMsgHistoryDO.userId != ''">
                user_id = #{fsGroupCardMsgHistoryDO.userId},
            </if>
            <if test="fsGroupCardMsgHistoryDO.createTime != null">
                create_time = #{fsGroupCardMsgHistoryDO.createTime},
            </if>
            <if test="fsGroupCardMsgHistoryDO.chatId != null and fsGroupCardMsgHistoryDO.chatId != ''">
                chat_id = #{fsGroupCardMsgHistoryDO.chatId},
            </if>
        </set>
        where id = #{fsGroupCardMsgHistoryDO.id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from fs_group_card_msg_history_${eid} where id = #{id}
    </delete>

</mapper>

