<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coolcollege.intelligent.dao.safetycheck.TbDataColumnAppealMapper">
  <resultMap id="BaseResultMap" type="com.coolcollege.intelligent.model.safetycheck.TbDataColumnAppealDO">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="business_id" jdbcType="BIGINT" property="businessId" />
    <result column="data_table_id" jdbcType="BIGINT" property="dataTableId" />
    <result column="meta_table_id" jdbcType="BIGINT" property="metaTableId" />
    <result column="meta_column_id" jdbcType="BIGINT" property="metaColumnId" />
    <result column="data_column_id" jdbcType="BIGINT" property="dataColumnId" />
    <result column="meta_column_name" jdbcType="VARCHAR" property="metaColumnName" />
    <result column="appeal_status" jdbcType="VARCHAR" property="appealStatus" />
    <result column="appeal_content" jdbcType="VARCHAR" property="appealContent" />
    <result column="appeal_remark" jdbcType="VARCHAR" property="appealRemark" />
    <result column="appeal_user_id" jdbcType="VARCHAR" property="appealUserId" />
    <result column="appeal_time" jdbcType="TIMESTAMP" property="appealTime" />
    <result column="appeal_result" jdbcType="VARCHAR" property="appealResult" />
    <result column="appeal_review_remark" jdbcType="VARCHAR" property="appealReviewRemark" />
    <result column="appeal_actual_review_user_id" jdbcType="VARCHAR" property="appealActualReviewUserId" />
    <result column="appeal_review_time" jdbcType="TIMESTAMP" property="appealReviewTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="deleted" jdbcType="BIT" property="deleted" />
    <result column="store_id" jdbcType="VARCHAR" property="storeId" />
    <result column="pictures" jdbcType="LONGVARCHAR" property="pictures" />
    <result column="videos" jdbcType="LONGVARCHAR" property="videos" />
  </resultMap>
  <sql id="Base_Column_List">
    id, business_id, data_table_id, meta_table_id, meta_column_id, data_column_id, meta_column_name, 
    appeal_status, appeal_content, appeal_remark, appeal_user_id, appeal_time, appeal_result, 
    appeal_review_remark, appeal_actual_review_user_id, appeal_review_time, create_time, 
    update_time, deleted,store_id,pictures,videos
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_data_column_appeal_${enterpriseId}
    where id = #{id,jdbcType=BIGINT}
  </select>
    <select id="selectByDataColumnId"
            resultType="com.coolcollege.intelligent.model.safetycheck.TbDataColumnAppealDO">
      select
      <include refid="Base_Column_List" />
      from tb_data_column_appeal_${enterpriseId}
      where data_column_id = #{dataColumnId} and deleted = 0 and appeal_status = 'ongoing'
    </select>
  <select id="selectListByBusinessId"
          resultType="com.coolcollege.intelligent.model.safetycheck.TbDataColumnAppealDO">
    select
    <include refid="Base_Column_List" />
    from tb_data_column_appeal_${enterpriseId}
    where business_id = #{businessId} and deleted = 0 order by create_time desc
  </select>
  <select id="selectListByBusinessIdAndStatus"
          resultType="com.coolcollege.intelligent.model.safetycheck.TbDataColumnAppealDO">
    select
    <include refid="Base_Column_List" />
    from tb_data_column_appeal_${enterpriseId}
    where business_id = #{businessId} and deleted = 0 and appeal_status = #{status}
  </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from tb_data_column_appeal_${enterpriseId}
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insertSelective" parameterType="com.coolcollege.intelligent.model.safetycheck.TbDataColumnAppealDO">
    <selectKey keyProperty="record.id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_data_column_appeal_${enterpriseId}
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="record.businessId != null">
        business_id,
      </if>
      <if test="record.dataTableId != null">
        data_table_id,
      </if>
      <if test="record.metaTableId != null">
        meta_table_id,
      </if>
      <if test="record.metaColumnId != null">
        meta_column_id,
      </if>
      <if test="record.dataColumnId != null">
        data_column_id,
      </if>
      <if test="record.metaColumnName != null">
        meta_column_name,
      </if>
      <if test="record.appealStatus != null">
        appeal_status,
      </if>
      <if test="record.appealContent != null">
        appeal_content,
      </if>
      <if test="record.appealRemark != null">
        appeal_remark,
      </if>
      <if test="record.appealUserId != null">
        appeal_user_id,
      </if>
      <if test="record.appealTime != null">
        appeal_time,
      </if>
      <if test="record.appealResult != null">
        appeal_result,
      </if>
      <if test="record.appealReviewRemark != null">
        appeal_review_remark,
      </if>
      <if test="record.appealActualReviewUserId != null">
        appeal_actual_review_user_id,
      </if>
      <if test="record.appealReviewTime != null">
        appeal_review_time,
      </if>
      <if test="record.createTime != null">
        create_time,
      </if>
      <if test="record.updateTime != null">
        update_time,
      </if>
      <if test="record.deleted != null">
        deleted,
      </if>
      <if test="record.storeId != null">
        store_id,
      </if>
      <if test="record.pictures != null">
        pictures,
      </if>
      <if test="record.videos != null">
        videos,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="record.businessId != null">
        #{record.businessId,jdbcType=BIGINT},
      </if>
      <if test="record.dataTableId != null">
        #{record.dataTableId,jdbcType=BIGINT},
      </if>
      <if test="record.metaTableId != null">
        #{record.metaTableId,jdbcType=BIGINT},
      </if>
      <if test="record.metaColumnId != null">
        #{record.metaColumnId,jdbcType=BIGINT},
      </if>
      <if test="record.dataColumnId != null">
        #{record.dataColumnId,jdbcType=BIGINT},
      </if>
      <if test="record.metaColumnName != null">
        #{record.metaColumnName,jdbcType=VARCHAR},
      </if>
      <if test="record.appealStatus != null">
        #{record.appealStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.appealContent != null">
        #{record.appealContent,jdbcType=VARCHAR},
      </if>
      <if test="record.appealRemark != null">
        #{record.appealRemark,jdbcType=VARCHAR},
      </if>
      <if test="record.appealUserId != null">
        #{record.appealUserId,jdbcType=VARCHAR},
      </if>
      <if test="record.appealTime != null">
        #{record.appealTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.appealResult != null">
        #{record.appealResult,jdbcType=VARCHAR},
      </if>
      <if test="record.appealReviewRemark != null">
        #{record.appealReviewRemark,jdbcType=VARCHAR},
      </if>
      <if test="record.appealActualReviewUserId != null">
        #{record.appealActualReviewUserId,jdbcType=VARCHAR},
      </if>
      <if test="record.appealReviewTime != null">
        #{record.appealReviewTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createTime != null">
        #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.deleted != null">
        #{record.deleted,jdbcType=BIT},
      </if>
      <if test="record.storeId != null">
        #{record.storeId},
      </if>
      <if test="record.pictures != null">
        #{record.pictures},
      </if>
      <if test="record.videos != null">
        #{record.videos},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.coolcollege.intelligent.model.safetycheck.TbDataColumnAppealDO">
    update tb_data_column_appeal_${enterpriseId}
    <set>
      <if test="record.businessId != null">
        business_id = #{record.businessId,jdbcType=BIGINT},
      </if>
      <if test="record.dataTableId != null">
        data_table_id = #{record.dataTableId,jdbcType=BIGINT},
      </if>
      <if test="record.metaTableId != null">
        meta_table_id = #{record.metaTableId,jdbcType=BIGINT},
      </if>
      <if test="record.metaColumnId != null">
        meta_column_id = #{record.metaColumnId,jdbcType=BIGINT},
      </if>
      <if test="record.dataColumnId != null">
        data_column_id = #{record.dataColumnId,jdbcType=BIGINT},
      </if>
      <if test="record.metaColumnName != null">
        meta_column_name = #{record.metaColumnName,jdbcType=VARCHAR},
      </if>
      <if test="record.appealStatus != null">
        appeal_status = #{record.appealStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.appealContent != null">
        appeal_content = #{record.appealContent,jdbcType=VARCHAR},
      </if>
      <if test="record.appealRemark != null">
        appeal_remark = #{record.appealRemark,jdbcType=VARCHAR},
      </if>
      <if test="record.appealUserId != null">
        appeal_user_id = #{record.appealUserId,jdbcType=VARCHAR},
      </if>
      <if test="record.appealTime != null">
        appeal_time = #{record.appealTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.appealResult != null">
        appeal_result = #{record.appealResult,jdbcType=VARCHAR},
      </if>
      <if test="record.appealReviewRemark != null">
        appeal_review_remark = #{record.appealReviewRemark,jdbcType=VARCHAR},
      </if>
      <if test="record.appealActualReviewUserId != null">
        appeal_actual_review_user_id = #{record.appealActualReviewUserId,jdbcType=VARCHAR},
      </if>
      <if test="record.appealReviewTime != null">
        appeal_review_time = #{record.appealReviewTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.deleted != null">
        deleted = #{record.deleted,jdbcType=BIT},
      </if>
      <if test="record.storeId != null">
        store_id = #{record.storeId},
      </if>
      <if test="record.pictures != null">
        pictures = #{record.pictures},
      </if>
      <if test="record.videos != null">
        videos = #{record.videos},
      </if>
    </set>
    where id = #{record.id,jdbcType=BIGINT}
  </update>
  <sql id="dynamicQuery">
    <trim prefix="WHERE" prefixOverrides="AND | OR">
      <if test="null != id">
         and t.id = #{id,jdbcType=BIGINT}
      </if>
      <if test="null != businessId">
         and t.business_id = #{businessId,jdbcType=BIGINT}
      </if>
      <if test="null != dataTableId">
         and t.data_table_id = #{dataTableId,jdbcType=BIGINT}
      </if>
      <if test="null != metaTableId">
         and t.meta_table_id = #{metaTableId,jdbcType=BIGINT}
      </if>
      <if test="null != metaColumnId">
         and t.meta_column_id = #{metaColumnId,jdbcType=BIGINT}
      </if>
      <if test="null != dataColumnId">
         and t.data_column_id = #{dataColumnId,jdbcType=BIGINT}
      </if>
      <if test="null != metaColumnName">
         and t.meta_column_name = #{metaColumnName,jdbcType=VARCHAR}
      </if>
      <if test="null != appealStatus">
         and t.appeal_status = #{appealStatus,jdbcType=VARCHAR}
      </if>
      <if test="null != appealContent">
         and t.appeal_content = #{appealContent,jdbcType=VARCHAR}
      </if>
      <if test="null != appealRemark">
         and t.appeal_remark = #{appealRemark,jdbcType=VARCHAR}
      </if>
      <if test="null != appealUserId">
         and t.appeal_user_id = #{appealUserId,jdbcType=VARCHAR}
      </if>
      <if test="null != appealTime">
         and t.appeal_time = #{appealTime,jdbcType=TIMESTAMP}
      </if>
      <if test="null != appealResult">
         and t.appeal_result = #{appealResult,jdbcType=VARCHAR}
      </if>
      <if test="null != appealReviewRemark">
         and t.appeal_review_remark = #{appealReviewRemark,jdbcType=VARCHAR}
      </if>
      <if test="null != appealActualReviewUserId">
         and t.appeal_actual_review_user_id = #{appealActualReviewUserId,jdbcType=VARCHAR}
      </if>
      <if test="null != appealReviewTime">
         and t.appeal_review_time = #{appealReviewTime,jdbcType=TIMESTAMP}
      </if>
      <if test="null != createTime">
         and t.create_time = #{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="null != updateTime">
         and t.update_time = #{updateTime,jdbcType=TIMESTAMP}
      </if>
      <if test="null != deleted">
         and t.deleted = #{deleted,jdbcType=BIT}
      </if>
    </trim>
  </sql>

  <select id="getLatestAppeal" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" />
    from tb_data_column_appeal_${enterpriseId} where id in
    (select max(id) from tb_data_column_appeal_${enterpriseId} where business_id = #{businessId}
    GROUP BY data_column_id)
  </select>
  <select id="selectListByDataColumnId"
          resultType="com.coolcollege.intelligent.model.safetycheck.TbDataColumnAppealDO">
    select
    <include refid="Base_Column_List" />
    from tb_data_column_appeal_${enterpriseId}
    where data_column_id = #{dataColumnId} and deleted = 0 order by create_time desc
  </select>

  <select id="getAppealCount" resultType="com.coolcollege.intelligent.model.safetycheck.vo.DataColumnHasHistoryVO">
    select data_column_id as dataColumnId , count(*) as appealCount
    from tb_data_column_appeal_${enterpriseId}
    where business_id = #{businessId}
    group by data_column_id
  </select>

  <update id="updateDelByBusinessIds">
    update tb_data_column_appeal_${enterpriseId}
    set deleted = 1
    where business_id in (
    <foreach collection="businessIds" separator="," item="item">
      #{item}
    </foreach>
    )
  </update>

</mapper>