<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coolcollege.intelligent.dao.bosspackage.BusinessModuleMenuMappingMapper">
  <resultMap id="BaseResultMap" type="com.coolcollege.intelligent.model.bosspackage.BusinessModuleMenuMappingDO">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="menu_id" jdbcType="BIGINT" property="menuId" />
    <result column="module_id" jdbcType="BIGINT" property="moduleId" />
    <result column="platform" jdbcType="VARCHAR" property="platform" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_user_id" jdbcType="VARCHAR" property="createUserId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, menu_id, module_id, platform, create_time, create_user_id
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from business_module_menu_mapping
    where id = #{id,jdbcType=BIGINT}
  </select>

  <select id="selectMenuIdsByModuleId" resultType="java.lang.Long">
      select menu_id
      from business_module_menu_mapping
      where module_id = #{moduleId}
      <if test="platformType != null and platformType != ''">
        and platform = #{platformType}
      </if>
  </select>

  <select id="selectMenuIdsByModuleIds" resultType="java.lang.Long">
    select menu_id
    from business_module_menu_mapping
    where module_id in
    <foreach collection="moduleIds" item="moduleId" open="(" separator="," close=")">
        #{moduleId}
    </foreach>
    <if test="platformType != null and platformType != ''">
      and platform = #{platformType}
    </if>
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from business_module_menu_mapping
    where id = #{id,jdbcType=BIGINT}
  </delete>

  <delete id="deleteByModuleId" parameterType="java.lang.Long">
    delete from business_module_menu_mapping
    where module_id = #{moduleId}
  </delete>

  <insert id="insertSelective" parameterType="com.coolcollege.intelligent.model.bosspackage.BusinessModuleMenuMappingDO">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into business_module_menu_mapping
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="menuId != null">
        menu_id,
      </if>
      <if test="moduleId != null">
        module_id,
      </if>
      <if test="platform != null">
        platform,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createUserId != null">
        create_user_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="menuId != null">
        #{menuId,jdbcType=BIGINT},
      </if>
      <if test="moduleId != null">
        #{moduleId,jdbcType=BIGINT},
      </if>
      <if test="platform != null">
        #{platform,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUserId != null">
        #{createUserId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <insert id="batchInsert">
    insert ignore business_module_menu_mapping (menu_id, module_id, platform, create_time, create_user_id)
    values
    <foreach collection="menuIds" item="menu" separator=",">
      (#{menu}, #{moduleId}, #{platform}, now(), #{createUserId})
    </foreach>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.coolcollege.intelligent.model.bosspackage.BusinessModuleMenuMappingDO">
    update business_module_menu_mapping
    <set>
      <if test="menuId != null">
        menu_id = #{menuId,jdbcType=BIGINT},
      </if>
      <if test="moduleId != null">
        module_id = #{moduleId,jdbcType=BIGINT},
      </if>
      <if test="platform != null">
        platform = #{platform,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUserId != null">
        create_user_id = #{createUserId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

  <sql id="dynamicQuery">
    <trim prefix="WHERE" prefixOverrides="AND | OR">
      <if test="null != id">
         and t.id = #{id,jdbcType=BIGINT}
      </if>
      <if test="null != menuId">
         and t.menu_id = #{menuId,jdbcType=BIGINT}
      </if>
      <if test="null != moduleId">
         and t.module_id = #{moduleId,jdbcType=BIGINT}
      </if>
      <if test="null != platform">
         and t.platform = #{platform,jdbcType=VARCHAR}
      </if>
      <if test="null != createTime">
         and t.create_time = #{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="null != createUserId">
         and t.create_user_id = #{createUserId,jdbcType=VARCHAR}
      </if>
    </trim>
  </sql>
</mapper>