<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.coolcollege.intelligent.dao.enterprise.SysDepartmentMapper" >


    <insert id="batchInsertOrUpdate" parameterType="java.util.List">
        insert into sys_department_${eid}
        (
        id,
        name,
        parent_id,
        depart_order,
        auto_add_user,
        dept_manager_userid_list,
        define_department_id
        ) values
        <foreach collection="list" item="it" separator=",">
            (
            #{it.id, jdbcType=BIGINT},
            #{it.name, jdbcType=VARCHAR},
            #{it.parentId, jdbcType=BIGINT},
            #{it.departOrder, jdbcType=INTEGER},
            #{it.autoAddUser, jdbcType=BOOLEAN},
            #{it.deptManagerUseridList, jdbcType=VARCHAR},
            #{it.defineDepartmentId, jdbcType=VARCHAR}
            )
        </foreach>
        ON DUPLICATE KEY UPDATE name=values(name), parent_id=values(parent_id), dept_manager_userid_list=values(dept_manager_userid_list)
        , define_department_id=values(define_department_id), depart_order=values(depart_order)
    </insert>


    <insert id="syncBatchInsertOrUpdate">
        insert into sys_department_${eid}
        (
            id,
            name,
            parent_id,
            depart_order,
            auto_add_user,
            dept_manager_userid_list,
            sync_id
        ) values
        <foreach collection="list" item="it" separator=",">
            (
            #{it.id, jdbcType=BIGINT},
            #{it.name, jdbcType=VARCHAR},
            #{it.parentId, jdbcType=BIGINT},
            #{it.departOrder, jdbcType=INTEGER},
            #{it.autoAddUser, jdbcType=BOOLEAN},
            #{it.deptManagerUseridList, jdbcType=VARCHAR},
            #{it.syncId, jdbcType=VARCHAR}
            )
        </foreach>
        ON DUPLICATE KEY UPDATE name=values(name), parent_id=values(parent_id), dept_manager_userid_list=values(dept_manager_userid_list)
        , sync_id=values(sync_id), depart_order=values(depart_order)
    </insert>

    <insert id="insertDept">
        insert into sys_department_${eid}
        (
            `id`,
            `name`,
            `parent_id`,
            `depart_order`,
            `auto_add_user`
        ) values
        (
            #{department.id, jdbcType=BIGINT},
            #{department.name, jdbcType=VARCHAR},
            #{department.parentId, jdbcType=BIGINT},
            #{department.departOrder, jdbcType=INTEGER},
            #{department.autoAddUser, jdbcType=BOOLEAN}
         )
    </insert>

    <update id="updateDeptName">
        update sys_department_${eid} set `name` = #{department.name}
        where id = #{department.id}
    </update>

    <select id="selectAll" resultType="com.coolcollege.intelligent.model.enterprise.SysDepartmentDO">
        select
            id,
            name,
            parent_id as parentId,
            depart_order as departOrder
            from sys_department_${eid}
    </select>

    <delete id="deleteByIds" parameterType="java.util.List">
        delete from sys_department_${eid} where id in
        <foreach collection="list"  item="item" open="(" separator="," close=")"  >
            #{item}
        </foreach>
    </delete>

    <delete id="deleteByNotInIds" parameterType="java.util.List">
        delete from sys_department_${eid}
        where id not in
        <foreach collection="list"  item="item" open="(" separator="," close=")"  >
            #{item}
        </foreach>
        and id != '1'
    </delete>

    <select id="getDepListByDepName" resultType="com.coolcollege.intelligent.model.department.DeptNode">
        select
            id,
            name as departmentName,
            parent_id as parentId
        from sys_department_${eid}
        where id != 1
        <if test="name != null and name != ''">
            and name like concat('%',#{name, jdbcType=VARCHAR},'%')
        </if>
        <if test="deptIdList != null and deptIdList.size > 0">
            and id in
            <foreach collection="deptIdList" item="deptId" separator="," open="(" close=")">
                #{deptId}
            </foreach>
        </if>

    </select>

    <select id="getDeptList" resultType="com.coolcollege.intelligent.model.department.dto.DeptUserTreeDTO">
        select
            id,
            name,
            parent_id as parentId
        from sys_department_${eid}
    </select>

    <delete id="deleteDepartmentUser">
        delete from enterprise_user_department_${eip}
        where user_id=#{userId}
    </delete>

    <select id="getAllDepartmentList" resultType="com.coolcollege.intelligent.model.enterprise.SysDepartmentDO">
        select
            id,
            name,
            parent_id as parentId
            from sys_department_${eid}
            <if test="ids!=null and ids.size>0">
                where  id in
                <foreach collection="ids" separator="," open="(" close=")" item="id">
                    #{id}
                </foreach>
            </if>
    </select>
    <select id="getDepartmentByName" resultType="com.coolcollege.intelligent.model.enterprise.SysDepartmentDO">
        select
        id,
        name,
        parent_id as parentId
        from sys_department_${eid}
        where name = #{name}
        limit 1
    </select>

    <select id="getDepartmentList" resultType="com.coolcollege.intelligent.model.enterprise.SysDepartmentDO">
        select
            id,
            name,
            parent_id as parentId,
            depart_order as departOrder,
            auto_add_user as autoAddUser,
            dept_manager_userid_list as deptManagerUseridList,
            define_department_id as defineDepartmentId,
            is_sync_region as isSyncRegion,
            is_store as isStore,
            is_leaf as isLeaf,
            parent_ids as parentIds
        from sys_department_${eid}
        <if test="ids!=null and ids.size>0">
            where  id in
            <foreach collection="ids" separator="," open="(" close=")" item="id">
                #{id}
            </foreach>
        </if>
    </select>

    <select id="selectById" resultType="com.coolcollege.intelligent.model.enterprise.SysDepartmentDO">
        select
            id,
            name,
            parent_id as parentId,
            depart_order as departOrder,
            auto_add_user as autoAddUser,
            dept_manager_userid_list as deptManagerUseridList,
            define_department_id as defineDepartmentId,
            is_sync_region as isSyncRegion,
            is_store as isStore,
            is_leaf as isLeaf,
            parent_ids as parentIds
            from sys_department_${eid}
            where id = #{id}
    </select>

    <select id="getAllIdAndParentId" resultType="com.coolcollege.intelligent.model.enterprise.DeptIdDTO">
        select id, parent_id as parentId
        from sys_department_${eid}
        where 1 = 1
        <if test="!recursion">
            and parent_id = #{id}
        </if>
    </select>

    <select id="selectHideDept" resultType="com.coolcollege.intelligent.model.enterprise.SysDepartmentDO">
        select
            id,
            parent_id as parentId
        from sys_department_${eid}
    </select>

    <select id="getSyncDeptTreeList"
            resultType="com.coolcollege.intelligent.model.department.dto.SyncTreeNode">
        select
            id,
            name,
            parent_id as pid
        from sys_department_${eid}
        <if test="parentId != null">
            where parent_ids like concat('%/',#{parentId},'/%') or id = #{parentId}
        </if>
    </select>

    <select id="getDeptChildList" resultType="com.coolcollege.intelligent.model.department.dto.DeptChildDTO">
        select
            id,
            name,
            false as userFlag,
            depart_order as departOrder,
            parent_id as parentId
        from sys_department_${eid}
        where parent_id in
        <foreach collection="pids" item="pid" open="(" separator="," close=")">
            #{pid}
        </foreach>
    </select>

    <select id="getDeptListById" resultType="com.coolcollege.intelligent.model.department.dto.DeptChildDTO">
        select
        id,
        name,
        false as userFlag,
        depart_order as departOrder,
        parent_id as parentId
        from sys_department_${eid}
        where id in
        <foreach collection="pids" item="pid" open="(" separator="," close=")">
            #{pid}
        </foreach>
    </select>

    <select id="getDeptUserList" resultType="com.coolcollege.intelligent.model.department.dto.DeptChildDTO">
        select
            distinct eu.user_id as id,
            eu.name,
            eu.jobnumber as jobNumber,
            IFNULL(eu.face_url, eu.avatar) as avatar,
            true as userFlag,
            false as hasChild
        from enterprise_user_${eid} eu
        left join enterprise_user_department_${eid} eud on eu.user_id = eud.user_id and eud.is_has_auth = 0
        where eud.department_id in
        <foreach collection="pids" item="deptId" separator="," open="(" close=")">
            #{deptId}
        </foreach>
        and eu.active=true
        and eu.user_status = '1'
    </select>

    <select id="selectUserDeptInfo"
            resultType="com.coolcollege.intelligent.model.enterprise.dto.SelectUserDeptDTO">
        select
            sd.`name` as deptName,
            sd.id as deptId
        from enterprise_user_department_${eid} eud
        left join sys_department_${eid} sd
        on eud.department_id = sd.id  and eud.is_has_auth = 0
        where eud.user_id = #{userId}
    </select>

    <select id="selectIdList" resultType="java.lang.String">
        select id from sys_department_${eid}
    </select>
    <select id="getDeptChildListByParentId"
            resultType="com.coolcollege.intelligent.model.department.dto.QueryDeptChildDTO">
        select
        id,
        name,
        depart_order as departOrder,
        parent_id as parentId
        from sys_department_${eid}
        where parent_id = #{parentId}
    </select>
    <select id="selectIdListByUserId" resultType="java.lang.String">
        select id
        from sys_department_${eid}
        where dept_manager_userid_list = #{userId}
    </select>

    <update id="batchUpdateDeptName">
        update sys_department_${eid}
        set name =
        <foreach collection="list" item="item" index="index"
                 separator=" " open="case id" close="end">
            when #{item.id} then ifnull(#{item.name},name)
        </foreach>
        where id in
        <foreach collection="list" index="index" item="item"
                 separator="," open="(" close=")">
            #{item.id,jdbcType=VARCHAR}
        </foreach>
    </update>
    <update id="batchUpdateDeptOrder">
        update sys_department_${eid}
        <trim prefix="set" suffixOverrides=",">
        <trim prefix="depart_order =case" suffix="end,">
            <foreach collection="list" item="item" index="index">
                <if test="item.departOrder != null">
                    when id=#{item.id}
                    then #{item.departOrder}
                </if>
            </foreach>
        </trim>
        </trim>
        where id in
        <foreach collection="list" index="index" item="item"
                 separator="," open="(" close=")">
            #{item.id}
        </foreach>
    </update>

    <select id="listParentIdByIdList" resultType="java.lang.Long">
        select
        parent_id
        from sys_department_${eid}
        where id in (
        <foreach collection="idList" item="item" separator=",">
            #{item}
        </foreach>
        )
    </select>
    
    <update id="batchUpdateDept">
        <foreach collection="deptList" separator=";" item="dept">
            update sys_department_${enterpriseId}
            <set>
                <if test="dept.name != null">
                    name = #{dept.name},
                </if>
                <if test="dept.parentId != null">
                    parent_id = #{dept.parentId},
                </if>
                <if test="dept.departOrder != null">
                    depart_order = #{dept.departOrder},
                </if>
                <if test="dept.autoAddUser != null">
                    auto_add_user = #{dept.autoAddUser},
                </if>
                <if test="dept.deptManagerUseridList != null">
                    dept_manager_userid_list = #{dept.deptManagerUseridList},
                </if>
                <if test="dept.parentIds != null">
                    parent_ids = #{dept.parentIds},
                </if>
                <if test="dept.subIds != null">
                    sub_ids = #{dept.subIds},
                </if>
                <if test="dept.defineDepartmentId != null">
                    define_department_id = #{dept.defineDepartmentId},
                </if>
                <if test="dept.isSyncRegion != null">
                    is_sync_region = #{dept.isSyncRegion},
                </if>
                <if test="dept.isStore != null">
                    is_store = #{dept.isStore},
                </if>
                <if test="dept.isLeaf != null">
                    is_leaf = #{dept.isLeaf},
                </if>
                <if test="dept.syncId != null">
                    sync_id = #{dept.syncId},
                </if>
            </set>
            where
                id = #{dept.id}
        </foreach>
    </update>

    <select id="getAllSubDeptIdList" resultType="string">
        select
            id
        from
            sys_department_${enterpriseId}
        <if test="deptId != null">
            where parent_ids like concat('%/',#{deptId},'/%') or id = #{deptId}
        </if>
    </select>


    <select id="getAllSubDeptList" resultType="com.coolcollege.intelligent.model.enterprise.SysDepartmentDO">
        select
            id,
            name,
            parent_id as parentId,
            depart_order as departOrder
        from
            sys_department_${enterpriseId}
        <if test="deptId != null">
            where parent_ids like concat('%/',#{deptId},'/%') or id = #{deptId}
        </if>
    </select>


    <select id="getDeptListBySyncId" resultType="com.coolcollege.intelligent.model.enterprise.SysDepartmentDO">
        select
            id,
            name,
            parent_id as parentId,
            depart_order as departOrder,
            parent_ids as parentIds
        from
            sys_department_${enterpriseId}
        where
            sync_id = #{syncId}
    </select>
</mapper>