<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coolcollege.intelligent.dao.activity.BroadcastCommentWarningLogMapper">


    <insert id="insertSelective">
        insert into broadcast_comment_warning_log_${enterpriseId}
        (
            target_id,
            type,
            content,
            reason,
            risk_level
        )
        values
        (
            #{logDO.targetId},
            #{logDO.type},
            #{logDO.content},
            #{logDO.reason},
            #{logDO.riskLevel}
        )
    </insert>
</mapper>