<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coolcollege.intelligent.dao.activity.PromoterStoreInfoMapper">
  <resultMap id="BaseResultMap" type="com.coolcollege.intelligent.model.activity.entity.PromoterStoreInfoDO">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="promoter_user_id" jdbcType="VARCHAR" property="promoterUserId" />
    <result column="promoter_name" jdbcType="VARCHAR" property="promoterName" />
    <result column="promoter_num" jdbcType="VARCHAR" property="promoterNum" />
    <result column="promoter_type" jdbcType="VARCHAR" property="promoterType" />
    <result column="category_name" jdbcType="VARCHAR" property="categoryName" />
    <result column="category_code" jdbcType="VARCHAR" property="categoryCode" />
    <result column="store_id" jdbcType="VARCHAR" property="storeId" />
    <result column="store_name" jdbcType="VARCHAR" property="storeName" />
    <result column="store_level" jdbcType="VARCHAR" property="storeLevel" />
    <result column="store_type" jdbcType="VARCHAR" property="storeType" />
    <result column="physical_store_num" jdbcType="VARCHAR" property="physicalStoreNum" />
    <result column="dimission_status" jdbcType="VARCHAR" property="dimissionStatus" />
    <result column="dimission_date" jdbcType="DATE" property="dimissionDate" />
    <result column="re_admission_date" jdbcType="DATE" property="reAdmissionDate" />
    <result column="without_basic_pay" jdbcType="VARCHAR" property="withoutBasicPay" />
    <result column="without_commission" jdbcType="VARCHAR" property="withoutCommission" />
    <result column="admission_date" jdbcType="DATE" property="admissionDate" />
    <result column="entry_date" jdbcType="DATE" property="entryDate" />
    <result column="probation_period" jdbcType="VARCHAR" property="probationPeriod" />
    <result column="job_on_month_start_date" jdbcType="DATE" property="jobOnMonthStartDate" />
    <result column="job_on_month_end_date" jdbcType="DATE" property="jobOnMonthEndDate" />
    <result column="job_on_month_day" jdbcType="INTEGER" property="jobOnMonthDay" />
    <result column="stop_shop" jdbcType="VARCHAR" property="stopShop" />
    <result column="job_on_store_month_start_date" jdbcType="DATE" property="jobOnStoreMonthStartDate" />
    <result column="job_on_store_month_end_date" jdbcType="DATE" property="jobOnStoreMonthEndDate" />
    <result column="job_on_store_month_day" jdbcType="INTEGER" property="jobOnStoreMonthDay" />
    <result column="local_wage_scale" jdbcType="DECIMAL" property="localWageScale" />
    <result column="basic_monthly_wage" jdbcType="DECIMAL" property="basicMonthlyWage" />
    <result column="wage_ratio" jdbcType="DECIMAL" property="wageRatio" />
    <result column="basic_wage_amount" jdbcType="DECIMAL" property="basicWageAmount" />
    <result column="seniority_wage" jdbcType="INTEGER" property="seniorityWage" />
    <result column="insured_place_code" jdbcType="VARCHAR" property="insuredPlaceCode" />
    <result column="insured_place_name" jdbcType="VARCHAR" property="insuredPlaceName" />
    <result column="minimum_wage_place_code" jdbcType="VARCHAR" property="minimumWagePlaceCode" />
    <result column="minimum_wage_place_name" jdbcType="VARCHAR" property="minimumWagePlaceName" />
    <result column="business_region_name" jdbcType="VARCHAR" property="businessRegionName" />
    <result column="business_region_code" jdbcType="VARCHAR" property="businessRegionCode" />
    <result column="business_segment_name" jdbcType="VARCHAR" property="businessSegmentName" />
    <result column="business_segment_code" jdbcType="VARCHAR" property="businessSegmentCode" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_user_id" jdbcType="VARCHAR" property="createUserId" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_user_id" jdbcType="VARCHAR" property="updateUserId" />
    <result column="deleted" jdbcType="BIT" property="deleted" />
  </resultMap>
  <sql id="Base_Column_List">
    id, promoter_user_id, promoter_name, promoter_num, promoter_type, category_name, 
    category_code, store_id, store_name, store_level, store_type, physical_store_num, 
    dimission_status, dimission_date, re_admission_date, without_basic_pay, without_commission, 
    admission_date, entry_date, probation_period, job_on_month_start_date, job_on_month_end_date, 
    job_on_month_day, stop_shop, job_on_store_month_start_date, job_on_store_month_end_date, 
    job_on_store_month_day, local_wage_scale, basic_monthly_wage, wage_ratio, basic_wage_amount, 
    seniority_wage, insured_place_code, insured_place_name, minimum_wage_place_code, 
    minimum_wage_place_name, business_region_name, business_region_code, business_segment_name, 
    business_segment_code, create_time, create_user_id, update_time, update_user_id, 
    deleted
  </sql>
  <insert id="insertSelective" keyColumn="id" keyProperty="record.id" useGeneratedKeys="true">
    insert into panasonic_promoter_store_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="promoterUserId != null">
        promoter_user_id,
      </if>
      <if test="promoterName != null">
        promoter_name,
      </if>
      <if test="promoterNum != null">
        promoter_num,
      </if>
      <if test="promoterType != null">
        promoter_type,
      </if>
      <if test="categoryName != null">
        category_name,
      </if>
      <if test="categoryCode != null">
        category_code,
      </if>
      <if test="storeId != null">
        store_id,
      </if>
      <if test="storeName != null">
        store_name,
      </if>
      <if test="storeLevel != null">
        store_level,
      </if>
      <if test="storeType != null">
        store_type,
      </if>
      <if test="physicalStoreNum != null">
        physical_store_num,
      </if>
      <if test="dimissionStatus != null">
        dimission_status,
      </if>
      <if test="dimissionDate != null">
        dimission_date,
      </if>
      <if test="reAdmissionDate != null">
        re_admission_date,
      </if>
      <if test="withoutBasicPay != null">
        without_basic_pay,
      </if>
      <if test="withoutCommission != null">
        without_commission,
      </if>
      <if test="admissionDate != null">
        admission_date,
      </if>
      <if test="entryDate != null">
        entry_date,
      </if>
      <if test="probationPeriod != null">
        probation_period,
      </if>
      <if test="jobOnMonthStartDate != null">
        job_on_month_start_date,
      </if>
      <if test="jobOnMonthEndDate != null">
        job_on_month_end_date,
      </if>
      <if test="jobOnMonthDay != null">
        job_on_month_day,
      </if>
      <if test="stopShop != null">
        stop_shop,
      </if>
      <if test="jobOnStoreMonthStartDate != null">
        job_on_store_month_start_date,
      </if>
      <if test="jobOnStoreMonthEndDate != null">
        job_on_store_month_end_date,
      </if>
      <if test="jobOnStoreMonthDay != null">
        job_on_store_month_day,
      </if>
      <if test="localWageScale != null">
        local_wage_scale,
      </if>
      <if test="basicMonthlyWage != null">
        basic_monthly_wage,
      </if>
      <if test="wageRatio != null">
        wage_ratio,
      </if>
      <if test="basicWageAmount != null">
        basic_wage_amount,
      </if>
      <if test="seniorityWage != null">
        seniority_wage,
      </if>
      <if test="insuredPlaceCode != null">
        insured_place_code,
      </if>
      <if test="insuredPlaceName != null">
        insured_place_name,
      </if>
      <if test="minimumWagePlaceCode != null">
        minimum_wage_place_code,
      </if>
      <if test="minimumWagePlaceName != null">
        minimum_wage_place_name,
      </if>
      <if test="businessRegionName != null">
        business_region_name,
      </if>
      <if test="businessRegionCode != null">
        business_region_code,
      </if>
      <if test="businessSegmentName != null">
        business_segment_name,
      </if>
      <if test="businessSegmentCode != null">
        business_segment_code,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createUserId != null">
        create_user_id,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="updateUserId != null">
        update_user_id,
      </if>
      <if test="deleted != null">
        deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="promoterUserId != null">
        #{promoterUserId},
      </if>
      <if test="promoterName != null">
        #{promoterName},
      </if>
      <if test="promoterNum != null">
        #{promoterNum},
      </if>
      <if test="promoterType != null">
        #{promoterType},
      </if>
      <if test="categoryName != null">
        #{categoryName},
      </if>
      <if test="categoryCode != null">
        #{categoryCode},
      </if>
      <if test="storeId != null">
        #{storeId},
      </if>
      <if test="storeName != null">
        #{storeName},
      </if>
      <if test="storeLevel != null">
        #{storeLevel},
      </if>
      <if test="storeType != null">
        #{storeType},
      </if>
      <if test="physicalStoreNum != null">
        #{physicalStoreNum},
      </if>
      <if test="dimissionStatus != null">
        #{dimissionStatus},
      </if>
      <if test="dimissionDate != null">
        #{dimissionDate},
      </if>
      <if test="reAdmissionDate != null">
        #{reAdmissionDate},
      </if>
      <if test="withoutBasicPay != null">
        #{withoutBasicPay},
      </if>
      <if test="withoutCommission != null">
        #{withoutCommission},
      </if>
      <if test="admissionDate != null">
        #{admissionDate},
      </if>
      <if test="entryDate != null">
        #{entryDate},
      </if>
      <if test="probationPeriod != null">
        #{probationPeriod},
      </if>
      <if test="jobOnMonthStartDate != null">
        #{jobOnMonthStartDate},
      </if>
      <if test="jobOnMonthEndDate != null">
        #{jobOnMonthEndDate},
      </if>
      <if test="jobOnMonthDay != null">
        #{jobOnMonthDay},
      </if>
      <if test="stopShop != null">
        #{stopShop},
      </if>
      <if test="jobOnStoreMonthStartDate != null">
        #{jobOnStoreMonthStartDate},
      </if>
      <if test="jobOnStoreMonthEndDate != null">
        #{jobOnStoreMonthEndDate},
      </if>
      <if test="jobOnStoreMonthDay != null">
        #{jobOnStoreMonthDay},
      </if>
      <if test="localWageScale != null">
        #{localWageScale},
      </if>
      <if test="basicMonthlyWage != null">
        #{basicMonthlyWage},
      </if>
      <if test="wageRatio != null">
        #{wageRatio},
      </if>
      <if test="basicWageAmount != null">
        #{basicWageAmount},
      </if>
      <if test="seniorityWage != null">
        #{seniorityWage},
      </if>
      <if test="insuredPlaceCode != null">
        #{insuredPlaceCode},
      </if>
      <if test="insuredPlaceName != null">
        #{insuredPlaceName},
      </if>
      <if test="minimumWagePlaceCode != null">
        #{minimumWagePlaceCode},
      </if>
      <if test="minimumWagePlaceName != null">
        #{minimumWagePlaceName},
      </if>
      <if test="businessRegionName != null">
        #{businessRegionName},
      </if>
      <if test="businessRegionCode != null">
        #{businessRegionCode},
      </if>
      <if test="businessSegmentName != null">
        #{businessSegmentName},
      </if>
      <if test="businessSegmentCode != null">
        #{businessSegmentCode},
      </if>
      <if test="createTime != null">
        #{createTime},
      </if>
      <if test="createUserId != null">
        #{createUserId},
      </if>
      <if test="updateTime != null">
        #{updateTime},
      </if>
      <if test="updateUserId != null">
        #{updateUserId},
      </if>
      <if test="deleted != null">
        #{deleted},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective">
    update panasonic_promoter_store_info
    <set>
      <if test="promoterUserId != null">
        promoter_user_id = #{promoterUserId},
      </if>
      <if test="promoterName != null">
        promoter_name = #{promoterName},
      </if>
      <if test="promoterNum != null">
        promoter_num = #{promoterNum},
      </if>
      <if test="promoterType != null">
        promoter_type = #{promoterType},
      </if>
      <if test="categoryName != null">
        category_name = #{categoryName},
      </if>
      <if test="categoryCode != null">
        category_code = #{categoryCode},
      </if>
      <if test="storeId != null">
        store_id = #{storeId},
      </if>
      <if test="storeName != null">
        store_name = #{storeName},
      </if>
      <if test="storeLevel != null">
        store_level = #{storeLevel},
      </if>
      <if test="storeType != null">
        store_type = #{storeType},
      </if>
      <if test="physicalStoreNum != null">
        physical_store_num = #{physicalStoreNum},
      </if>
      <if test="dimissionStatus != null">
        dimission_status = #{dimissionStatus},
      </if>
      <if test="dimissionDate != null">
        dimission_date = #{dimissionDate},
      </if>
      <if test="reAdmissionDate != null">
        re_admission_date = #{reAdmissionDate},
      </if>
      <if test="withoutBasicPay != null">
        without_basic_pay = #{withoutBasicPay},
      </if>
      <if test="withoutCommission != null">
        without_commission = #{withoutCommission},
      </if>
      <if test="admissionDate != null">
        admission_date = #{admissionDate},
      </if>
      <if test="entryDate != null">
        entry_date = #{entryDate},
      </if>
      <if test="probationPeriod != null">
        probation_period = #{probationPeriod},
      </if>
      <if test="jobOnMonthStartDate != null">
        job_on_month_start_date = #{jobOnMonthStartDate},
      </if>
      <if test="jobOnMonthEndDate != null">
        job_on_month_end_date = #{jobOnMonthEndDate},
      </if>
      <if test="jobOnMonthDay != null">
        job_on_month_day = #{jobOnMonthDay},
      </if>
      <if test="stopShop != null">
        stop_shop = #{stopShop},
      </if>
      <if test="jobOnStoreMonthStartDate != null">
        job_on_store_month_start_date = #{jobOnStoreMonthStartDate},
      </if>
      <if test="jobOnStoreMonthEndDate != null">
        job_on_store_month_end_date = #{jobOnStoreMonthEndDate},
      </if>
      <if test="jobOnStoreMonthDay != null">
        job_on_store_month_day = #{jobOnStoreMonthDay},
      </if>
      <if test="localWageScale != null">
        local_wage_scale = #{localWageScale},
      </if>
      <if test="basicMonthlyWage != null">
        basic_monthly_wage = #{basicMonthlyWage},
      </if>
      <if test="wageRatio != null">
        wage_ratio = #{wageRatio},
      </if>
      <if test="basicWageAmount != null">
        basic_wage_amount = #{basicWageAmount},
      </if>
      <if test="seniorityWage != null">
        seniority_wage = #{seniorityWage},
      </if>
      <if test="insuredPlaceCode != null">
        insured_place_code = #{insuredPlaceCode},
      </if>
      <if test="insuredPlaceName != null">
        insured_place_name = #{insuredPlaceName},
      </if>
      <if test="minimumWagePlaceCode != null">
        minimum_wage_place_code = #{minimumWagePlaceCode},
      </if>
      <if test="minimumWagePlaceName != null">
        minimum_wage_place_name = #{minimumWagePlaceName},
      </if>
      <if test="businessRegionName != null">
        business_region_name = #{businessRegionName},
      </if>
      <if test="businessRegionCode != null">
        business_region_code = #{businessRegionCode},
      </if>
      <if test="businessSegmentName != null">
        business_segment_name = #{businessSegmentName},
      </if>
      <if test="businessSegmentCode != null">
        business_segment_code = #{businessSegmentCode},
      </if>
      <if test="createTime != null">
        create_time = #{createTime},
      </if>
      <if test="createUserId != null">
        create_user_id = #{createUserId},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime},
      </if>
      <if test="updateUserId != null">
        update_user_id = #{updateUserId},
      </if>
      <if test="deleted != null">
        deleted = #{deleted},
      </if>
    </set>
    where id = #{id}
  </update>
</mapper>